.choose-with-actions-component {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;

  > .paper {
    margin-top: 10px;
    max-height: 70vh;
    overflow: auto;

    > .list {
      flex: 1;
    }
  }
}
