.playlist-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
}

.music-app-bar {
  bottom: 0;

  .playlist-page > & {
    top: auto;
  }
}

.music-details-component {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  > .expand-more {
    align-self: flex-start;
  }

  > .feelings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  > .album {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center;
    
    > .image {
      max-height: 100%;
      max-width: 100%;
    }
  }
  
  > .title-and-description,
  > .slider,
  > .feelings {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.choose-with-actions-component {
  > .paper {
    margin-top: 10px;
    max-height: 70vh;
  }
}
