.login-page {
  flex: 1;
  justify-content: space-around;
  padding: 30px;

  &,
  > .actions {
    display: flex;
    flex-direction: column;
  }

  > .actions {
    justify-content: space-around;
    flex: 0.3;
  }

  > .logo {
    align-self: center;
    max-height: 100px;
    max-width: 100px;
  }
}
