.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 30px;

  > .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  > .logo {
    max-width: 100px;
    max-height: 100px;
    align-self: center;
  }
}
