.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 30px;

  > .form {
    flex: 0.5;

    &,
    > .actions,
    > .fields {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    > .actions,
    > .fields {
      flex: 1;
    }
  }

  > .logo {
    align-self: center;
    flex: 0.3;
    max-height: 100px;
    max-width: 100px;
  }
}
