.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .submit-button {
    width: 100%;
  }

  .youtube-video {
    @media screen and (max-width: 600px) {
      width: auto;
      height: auto;
    }
    
    @media screen and (max-width: 400px) {
      width: 280px;
    }
  }
}
